.header{
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position:fixed ;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(220, 218, 218);
	z-index: 1000;   
}
.left{    
	display: flex;
	align-items: center;
	width: 100px;

}

.menu{
	height: 25px;
	cursor:pointer; 
	position: relative;   
}
/* Style The Dropdown Button */
.dropbtn {
 background-color: #4CAF50;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none; /*drop down */
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #8c4a4a}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
 background-color: #3e8e41;}

.right{
 display: flex;	
	align-items: center;
	flex-shrink: 0;
	justify-content: space-between;
	width: 50px;
	margin-right: 20px;
	cursor: pointer;
}
.right:hover{
 opacity:0.2;
}
.login{
 height: 25px;
}
